@import "../../../assets/css/base.scss";

.zmiti-loading-ui{
  
  @include pos(f);
  left:50%;
  top:0;
  margin-left: -320px;
  z-index:  100;
  width:640px;
  height: 100%;
  .zmiti-loading-item{
    width: 100px;
    @include pos(a);
    left: 50%;
    margin-left: -50px;
    top: 60%;
    opacity:0;
    
    @for $i from 1 through 13 { 
        $time:random(7000)+ ms;
        $delay:random(5000) + ms;
        $left : random(600) + 50 + px;
        &:nth-of-type(#{$i}) {
            left: $left;
            @include animation(zmiti-move $time $delay  linear infinite);        
         } 
     }
  }

  .zmiti-loading-pre{
    @include pos(a);
    left: 50%;
    top: 70%;
    font-size: 32px;
    margin-left: -16px;
    font-family: Georgia;
  }

}

@-webkit-keyframes zmiti-move{
    0% {
       @include transform(translate3d(0,0,0));
        opacity:0; 
    }
    50% {
       @include transform(translate3d(0,-250px,0));
        opacity:1; 
    }
    100%{
        @include transform(translate3d(0,-500px,0));
        opacity:0;
    }
}