/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

.zmiti-break-all {
  word-wrap: break-word;
  word-break: break-all; }

.zmiti-loading-ui {
  position: fixed;
  left: 50%;
  top: 0;
  margin-left: -320px;
  z-index: 100;
  width: 640px;
  height: 100%; }
  .zmiti-loading-ui .zmiti-loading-item {
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 60%;
    opacity: 0; }
    .zmiti-loading-ui .zmiti-loading-item:nth-of-type(1) {
      left: 144px;
      -webkit-animation: zmiti-move 2782ms 4972ms linear infinite;
      animation: zmiti-move 2782ms 4972ms linear infinite; }
    .zmiti-loading-ui .zmiti-loading-item:nth-of-type(2) {
      left: 72px;
      -webkit-animation: zmiti-move 2119ms 2587ms linear infinite;
      animation: zmiti-move 2119ms 2587ms linear infinite; }
    .zmiti-loading-ui .zmiti-loading-item:nth-of-type(3) {
      left: 69px;
      -webkit-animation: zmiti-move 6335ms 615ms linear infinite;
      animation: zmiti-move 6335ms 615ms linear infinite; }
    .zmiti-loading-ui .zmiti-loading-item:nth-of-type(4) {
      left: 433px;
      -webkit-animation: zmiti-move 6540ms 2030ms linear infinite;
      animation: zmiti-move 6540ms 2030ms linear infinite; }
    .zmiti-loading-ui .zmiti-loading-item:nth-of-type(5) {
      left: 272px;
      -webkit-animation: zmiti-move 3370ms 1176ms linear infinite;
      animation: zmiti-move 3370ms 1176ms linear infinite; }
    .zmiti-loading-ui .zmiti-loading-item:nth-of-type(6) {
      left: 319px;
      -webkit-animation: zmiti-move 6182ms 221ms linear infinite;
      animation: zmiti-move 6182ms 221ms linear infinite; }
    .zmiti-loading-ui .zmiti-loading-item:nth-of-type(7) {
      left: 171px;
      -webkit-animation: zmiti-move 1984ms 4861ms linear infinite;
      animation: zmiti-move 1984ms 4861ms linear infinite; }
    .zmiti-loading-ui .zmiti-loading-item:nth-of-type(8) {
      left: 356px;
      -webkit-animation: zmiti-move 16ms 4906ms linear infinite;
      animation: zmiti-move 16ms 4906ms linear infinite; }
    .zmiti-loading-ui .zmiti-loading-item:nth-of-type(9) {
      left: 646px;
      -webkit-animation: zmiti-move 3999ms 2690ms linear infinite;
      animation: zmiti-move 3999ms 2690ms linear infinite; }
    .zmiti-loading-ui .zmiti-loading-item:nth-of-type(10) {
      left: 158px;
      -webkit-animation: zmiti-move 890ms 4287ms linear infinite;
      animation: zmiti-move 890ms 4287ms linear infinite; }
    .zmiti-loading-ui .zmiti-loading-item:nth-of-type(11) {
      left: 603px;
      -webkit-animation: zmiti-move 295ms 2252ms linear infinite;
      animation: zmiti-move 295ms 2252ms linear infinite; }
    .zmiti-loading-ui .zmiti-loading-item:nth-of-type(12) {
      left: 105px;
      -webkit-animation: zmiti-move 6706ms 3859ms linear infinite;
      animation: zmiti-move 6706ms 3859ms linear infinite; }
    .zmiti-loading-ui .zmiti-loading-item:nth-of-type(13) {
      left: 482px;
      -webkit-animation: zmiti-move 765ms 338ms linear infinite;
      animation: zmiti-move 765ms 338ms linear infinite; }
  .zmiti-loading-ui .zmiti-loading-pre {
    position: absolute;
    left: 50%;
    top: 70%;
    font-size: 32px;
    margin-left: -16px;
    font-family: Georgia; }

@-webkit-keyframes zmiti-move {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    opacity: 0; }
  50% {
    -webkit-transform: translate3d(0, -250px, 0);
    transform: translate3d(0, -250px, 0);
    opacity: 1; }
  100% {
    -webkit-transform: translate3d(0, -500px, 0);
    transform: translate3d(0, -500px, 0);
    opacity: 0; } }

/*# sourceMappingURL=index.css.map */