@import "../../../assets/css/base.scss";
 .zmiti-courselist-main-ui{
 	width:100%;
 	height:100%;
 	@include pos(a);
 	background: #fff;
 	z-index: 1;
 	left:0;
 	top:0;

 	.zmiti-courselist-scroll{
 		@include pos(r);
 		bottom:0;
 		width:100%;
 		margin:120px auto 0;
 		overflow: hidden;
 		box-sizing:border-box;
 		li{
 			width:96%;
 			margin:0 auto;
 			@include displayBox(horizontal);
 			$size:90px;
 			height:$size;
 			line-height: $size;
 			border-bottom:1px solid #ccc;
 			aside{
 				-webkit-box-flex:1;
 				&:first-of-type{
 					margin-left: 20px;
 				}
 				&:last-of-type{
 					margin-right: 20px;
 					text-align: right;
 				}
 			}
 		}

 	}
 }