@charset "UTF-8";
/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis; }

.zmiti-break-all {
  word-wrap: break-word;
  word-break: break-all; }

html, body, div, p, ul, li, ol, dl, dt, dd, header, footer, video, h1, h2, h3, h4, canvas, section, figure {
  padding: 0;
  margin: 0; }

a {
  text-decoration: none; }

li {
  list-style: none; }

html, body {
  height: 100%; }

body {
  font-family: "Helvetica Neue", 'Helvetica', "Microsoft YaHei", '微软雅黑', arial, sans-serif;
  overflow: hidden;
  font-size: 24px; }

img {
  border: none;
  vertical-align: middle;
  width: 100%;
  height: auto; }

input, textarea {
  outline: none; }

.zmiti-main-ui {
  width: 640px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  opacity: 0;
  left: 50%;
  margin-left: -320px; }
  .zmiti-main-ui .zmiti-auoth-page {
    position: absolute;
    width: 640px;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 100; }
  .zmiti-main-ui.show {
    -webkit-transition: 0.3s opacity;
    transition: 0.3s opacity;
    opacity: 1; }
  .zmiti-main-ui .zmiti-main-C {
    -webkit-transition: 0.4s;
    transition: 0.4s; }
    .zmiti-main-ui .zmiti-main-C .zmiti-main-content {
      -webkit-transition: 0.3s;
      transition: 0.3s; }
      .zmiti-main-ui .zmiti-main-C .zmiti-main-content.hide {
        -webkit-transform: translate3d(640px, 0, 0);
        transform: translate3d(640px, 0, 0); }
  .zmiti-main-ui > section.hide {
    -webkit-transform: translate3d(-640px, 0, 0);
    transform: translate3d(-640px, 0, 0); }
  .zmiti-main-ui .zmiti-get-poetry-loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: horizontal; }
    .zmiti-main-ui .zmiti-get-poetry-loading div {
      width: 100px;
      text-align: center;
      height: 100px;
      color: #fff; }
  .zmiti-main-ui .sk-fading-circle {
    width: 40px;
    height: 40px;
    position: relative; }
  .zmiti-main-ui .sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .zmiti-main-ui .sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #eee;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    animation: sk-circleFadeDelay 1.2s infinite ease-in-out both; }
  .zmiti-main-ui .sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg); }
  .zmiti-main-ui .sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg); }
  .zmiti-main-ui .sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg); }
  .zmiti-main-ui .sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
    transform: rotate(120deg); }
  .zmiti-main-ui .sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
    transform: rotate(150deg); }
  .zmiti-main-ui .sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); }
  .zmiti-main-ui .sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
    transform: rotate(210deg); }
  .zmiti-main-ui .sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
    transform: rotate(240deg); }
  .zmiti-main-ui .sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg); }
  .zmiti-main-ui .sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
    transform: rotate(300deg); }
  .zmiti-main-ui .sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg); }
  .zmiti-main-ui .sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s; }
  .zmiti-main-ui .sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
    animation-delay: -1s; }
  .zmiti-main-ui .sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s; }
  .zmiti-main-ui .sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s; }
  .zmiti-main-ui .sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
    animation-delay: -0.7s; }
  .zmiti-main-ui .sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
    animation-delay: -0.6s; }
  .zmiti-main-ui .sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
    animation-delay: -0.5s; }
  .zmiti-main-ui .sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
    animation-delay: -0.4s; }
  .zmiti-main-ui .sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
    animation-delay: -0.3s; }
  .zmiti-main-ui .sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
    animation-delay: -0.2s; }
  .zmiti-main-ui .sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s; }
@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0; }
  40% {
    opacity: 1; } }
@keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0; }
  40% {
    opacity: 1; } }
html, body {
  -webkit-user-select: none; }

/*# sourceMappingURL=index.css.map */